body {
	background-color: #d0c9b4;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	min-width: 599px;
	background: transparent url(track.jpg);
	background-size: cover;
}



img {
	width: 150px;
	height: 150px;
	border-radius: 100%;
	padding-right: ;
	border: 5px solid;

}

h4 {
	font-family: tahoma;
	padding-left: 10px;
}

.mig {
	font-size: larger;
}

.spi {
	padding: 30px;
	font-size:large ;
	
}

.img br {
	margin: 10px;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: white;
}
 
a.alink:hover {
	text-decoration: underline;
}

#main {
	width: 100%;
	position: relative;
	z-index: 100;
}

.wrap {
	width: 599px;
	margin: auto;
}

#header {
	padding: 70px 0;
}

#header h1 {
	font-family: tohama;
	text-align: center;
	font-size: 18px;
	position: relative;
	width: 280px;
	margin: auto;
}

#header h1::before {
	content: '';
	width: 40px;
	height: 2px;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 0;
}

#header h1::after {
	content: '';
	width: 40px;
	height: 2px;
	background-color: white;
	position: absolute;
	top: 50%;
	right: 0;
}

#constents {
	font-family: tahoma;
	text-align: center;
	color: white;
	padding-bottom: 35px;
	font-size: 22px;
	line-height: 30px;
	font-weight: normal;
	margin-top: 50px;
}

#constents h2 {
	font-family: tahoma;
	font-size: 80px;
	line-height: 80px;
	font-weight: 500;
}

#constents .loader {
	padding: 20px 0;
}

#constents .loader .load {
	background-color: #313031;
}

#constents .loader .load .percentage {
	background-color: white;
	height: 10px;
}

#constents .loader .info {
	display: flex;
	font-size: 18px;
}

#constents .loader .info span {
	flex: 1;
}

#constents .loader .info span:first-child {
	text-align: left;
}

#constents .loader .info span:last-child {
	text-align: right;
}

#footer {
	text-align: center;
	padding-bottom: 80px;

}

#footer .social-links {
	display: flex;
	justify-content: center;
}

#footer .social-links a {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 5px;
	width: 40px;
	height: 40px;
	border: 2px solid white;
	font-size: 20px;
	border-radius: 40px;
}



.container {

	height: 25px;
	background-color: #ccc;
	position: relative;
	border-radius: 7px;
}

.container .progress-bar {
	position: absolute;
	height: 100%;
	background-color: rgb(125, 44, 255);
	animation: progress-animation 500s forwards;
}


@keyframes progress-animation {
	0% { width: 0%; }
	100% {width: 100%; }
}
